@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&family=Sankofa+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&family=Noto+Sans+JP:wght@100..900&family=Sankofa+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grey+Qo&family=Heebo:wght@100..900&family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&family=Noto+Sans+JP:wght@100..900&family=Sankofa+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grey+Qo&family=Heebo:wght@100..900&family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&family=Matemasie&family=Noto+Sans+JP:wght@100..900&family=Sankofa+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grey+Qo&family=Heebo:wght@100..900&family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&family=Matemasie&family=Noto+Sans+JP:wght@100..900&family=Permanent+Marker&family=Sankofa+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@400..700&family=Grey+Qo&family=Heebo:wght@100..900&family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&family=Matemasie&family=Noto+Sans+JP:wght@100..900&family=Permanent+Marker&family=Sankofa+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&family=Edu+VIC+WA+NT+Beginner:wght@400..700&family=Grey+Qo&family=Heebo:wght@100..900&family=Matemasie&family=Noto+Sans+JP:wght@100..900&family=Sankofa+Display&display=swap');

    /* navbar */
        .navbar {
            font-family: "Matemasie", sans-serif;
            background-image: linear-gradient(to right, #080e3e, #22206b);
            border-bottom: 2px solid #ffffff;
        }

        .navbar-brand {
            font-weight: bold;
            background-image: linear-gradient(to right, red, blue);
            background-clip: text;
            color: transparent;
            font-size: 1.5rem;
        }

        .navbar-brand:hover {
            font-weight: bold;
            background-image: linear-gradient(126deg, red, blue, white );
            background-clip: text;
            border-bottom: 2px solid white;
            color: transparent;
            font-size: 1.5rem;
        }

        .nav-item .nav-link {
            font-family: "Matemasie", sans-serif;
            background-image: linear-gradient(to top, white, rgb(151, 151, 151));
            background-clip: text; 
            color: transparent;
        }

        .nav-item .nav-link:hover {
            background-image: linear-gradient(25deg, white, blue);
            background-clip: text;
            color: transparent;
        }

        .nav-item .nav-link.active {
            background-image: linear-gradient(to bottom, white, blue);
            background-clip: text;
            color: transparent;
            background-color: transparent;
            border-bottom: 2px solid #F8EDE3;
        }
    /* navbar end */

    body::-webkit-scrollbar {
        display: none;
    }

    h1 {
        font-family: "Istok Web", sans-serif;
        font-weight: bold;
        font-size: 50%vh;
        margin: 10%px, 0;
    }

    body {
        resize: both;
        background-image: linear-gradient(to right, #080e3e, #22206b);
        overflow-x: hidden;
        font-family: "Heebo", sans-serif;
        font-optical-sizing: auto;
        font-weight: 40;
        font-style: normal;
        /* margin: 0 50px; */
    }
    body nav {
        margin: 0, 25px !important;
    }

    .hero {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: left;
        background-color: #EEEEEE;
        border-radius: 15px;
    }

    .hero img {
        max-width: 100%;
        border-radius: 10px;
        object-fit: cover;
    }

    /* Parallax */

    .parallax {
        background-image: url('assets/wallpaper1.jpg');
        background-attachment: fixed;
        background-position: center; 
        background-repeat: no-repeat;
        background-size: cover; 
        height: 100vh;
        width: 100%;
    }

    /* parallax end */

    /* Caraousel */

    .carousel-item img {
        width: 300px;
        height: 900px;
        border-radius: 60px;
        border: 2px solid #f8f9fa;
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        background-color: #000;
        border-radius: 50%;
    }

    /* Caraousel end*/

    /* about */
    .about {
        /* margin: 100vh; */
        border-radius: 10px;
        background-color: #EEEEEE;
    }

    .content {
        position: relative;
        z-index: 2;
        padding: 20px;
    }

    .hero-text {
        font-family: "Baskervville SC", serif;
        font-weight: 400;
        font-style: normal;
    }

    /* About end */

    /* produk */

    .step {
        position: relative;
        overflow: hidden;
        margin-bottom: 20px;
        text-align: center;
    }

    .step img {
        height: 400px;
        width: 500px;
        border-radius: 15%;
    }
    .btn-phone {
        display: none;
    }

    .text {
        height: 100px;
    }
    .step:hover .button-container {
        opacity: 1;
    }
    .step:hover .card-text {
        opacity: 0;
    }
    .quick-shop {
        font-size: medium;
        font-weight: bold;
        color: black;
        border: 2px solid white;
        box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        cursor: pointer;
    }
    .button-container {
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
    }

    /* produk end*/

    /* galery */

    .titlegalery {
        background-color: #EEEEEE;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 20px 20px;
    }

    .gallery {
        justify-content: center;
        resize: both;
        display: flex;
        flex-wrap: wrap;
    }

    .gallery img {
        object-fit:initial;
        border-radius: 15%;
        height: 300px;
        margin: 20px;
        width: 200px;
        cursor: pointer;
        transition: transform 0.2s;
    }

    .gallery img:hover {
        transform: scale(1.05);
    }

    /* Galery end */

    /* testimoni */

    .testimoni-card {
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin: 5px
    }

    .testimoni-card img {
        height: 100px;
        width: 100px;
        border-radius: 15%;
    }

    .testimoni-card h5 {
        margin-bottom: 20px;
    }

    .testi {
        background-color: #EEEEEE;
    }

    /* testimoni end */

    /* FAQ */

    .FAQ {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 10vh;
        border-radius: 15px;
        background-color: #EEEEEE;
    }

    .fotoFAQ
    {
        border-radius: 50px;
    }

    iframe {
        height: 650px;
    }

    .accordion img {
        border-radius: 100%;
    }

    .accordion-body {
        font-family: "Edu VIC WA NT Beginner", cursive;
        font-optical-sizing: auto;
        font-weight: bold;
        font-style: normal;
    }

    #pertanyaan .judul {
        font-family: "Matemasie", sans-serif;
    }

    /* FAQ end */

    /* form */

    .content-section
    {
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .form
    {
        background-color: #f8f9fa;
    }

    .form-container {
        padding: 20px;
    }

    iframe
    {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
    }

    /* form end */

    /* footer */

    .footerdiv {
        background-image: linear-gradient(to right, #080e3e, #22206b);
        border-top: 2px solid white;
        color: white;
    }

    .footerdiv a {
        text-decoration: none;
    }

    .btnacc {
        background-color: #eeeeee;
        color:#000;
    }

    .btnacc:hover{
        background-image: linear-gradient(to bottom, yellow, rgb(255, 255, 255));
        color: lightcyan;
        font-family: "Edu VIC WA NT Beginner", cursive;
        font-optical-sizing: auto;
        font-weight: bold;
        font-style: normal;
        border:2px solid #F0FFFF;
    }

    /* footer end */

    @media (max-width: 425px) {
        body::-webkit-scrollbar {
            display:flex;
        }

        body {
            justify-content: center;
            align-items: center;
        }

        .hero {
            flex-direction: column;
            background-repeat: round
        }

        /* Parallax */

        #hiddenSection {
            display: block;
        }

        .showButton {
            display: none;
        }

        /* navbar */

        .navbar {
            background-image: linear-gradient(to right, #080e3ea8, #23206ba1);
        }

        .nav-item {
            text-align: center;
            justify-content: center;
            align-items: center;
            margin: 0 !important;
        }

        .navbar-brand {
            text-align: center;
            justify-content: center;
            align-items: center;
            margin: 0, 500px;
        }

        .navbar-toggler {
            /* display: block; */
            background-color: #eeeeee93;
        }

        .btn {
            margin-right: 50px;
        }

        /* produk */

        .step {
            margin-right: 45px;
        }

        .step .overlay {
            opacity: 0 !important;
        }

        .btn-phone {
            display: block;
            width: 100%;
            margin-top: 10px;
        }
        .button-container {
            display: none;
        }
        .step:hover .card-text {
            opacity: 1;
        }   
        .h1produk {
            text-align: center;
            justify-content: center;
            align-items: center;
        }

        /* galery */

        .gallery img {
            width: 100%;
            margin-top: 25px;
        }

        /* FAQ */

        .FAQ {
            margin: 25px 0;
        }

        .accordion h1 {
            justify-content: center;
            align-items: center;
            text-align: center;
            margin: 0 25px;
        }

        .accordion img {
            border-radius: 50%;
        }

        /* footer */

        .maps {
            width: 85%;
            height: 180px;
            margin-left: 25px;
            margin-right: 50px;
        }
    }
    @media (min-width: 2560px) {

        body{
            font-size: 150px;
            margin: auto;
            font-size: 1.5rem;
            line-height: 2rem;
        }

        body .carousel-item{
            margin: 0, 50px;
        }

        /* Caraousel */

        .carousel-item img {
            width: 300px;
            height: 1900px;
            border-radius: 60px;
            border: 2px solid #f8f9fa;
        }

        .carousel-control-prev-icon,
        .carousel-control-next-icon {
            background-color: #000;
            border-radius: 50%;
        }

        /* Caraousel end*/

        div .hero{
            font-size: 100%;
            margin:  0 100px;
        }

        .hero
        {
            font-size: 40px !important;
            margin: 0 50px;
        }

        .hero img
        {   
            width: 80%;
            height: 25%;
        }

        .container h1 
        {
            font-size: 100px;
            margin: 15px 0;
        }

        .about
        {
            background-color: #EEEEEE;
        }

        .isi
        {
            background-color: #EEEEEE;
        }

        /* produk */

        .steps h5 
        {
            font-size: 60px;
        }

        .steps p
        {
            font-size: 40px;
        }

        /* navbar */
        .navbar .container {
            max-width: 100% !important;
            width: 90% !important;
        }

        .navbar .navbar-brand {
            font-size: 40px !important;
        }

        .navbar .nav-link {
            font-size: 35px !important;
            margin: 18px !important;
        }

        .container
        {
            max-width: 90% !important;
        }

        #about img
        {
            width: 800px;
            height: 800px;
        }

        .gallery img 
        {
            width: 25%;
            height: auto;
        }
        /* testimoni */
        .testi img
        {
            width: 400px;
            height: 400px;
            margin-bottom: 15px;
        }
        .testi h5 
        {
            font-size: 45px;
            line-height: 20px;
            margin: 15px 0;
        }
        .testi h6
        {
            font-size: 35px;
            line-height: 15px;
            margin: 25px 0;
        }

        /* FAQ */

        #pertanyaan {
            font-size: 50px;
            line-height: 50px;
        }

        #pertanyaan h2
        {
            font-size: 50px;
        }

        #pertanyaan button
        {
            height: 80px;
            font-size: 1.5rem;
        }

        .accordion-header
        {
            font-size: 50px;        
        }

        #pertanyaan img {
            width: 500px;
            height: 500px;
        }

        .justify-content-between .accordion
        {
            height: 500px;
        }

        /* form */

        .form label
        {
            font-size: 50px;
            line-height: 25px;
        }

        .form button {
            font-size: 50px;
            line-height: 25px;
            border: 2px solid #000;
        }

        .form iframe
        {
            width: 80%;
            height: 1000px;
        }

        .footerdiv
        {
            font-size: 2rem;
            line-height: 50px;
        }
        
        input
        {
            height: 80px;
            font-size: 2rem;
            line-height: 50px;
        }
    }